$black: #232323;
$background: #f6f8fc;

$container-width: 1200px;
$left-side-width: 185px;
$right-side-width: 55px;
$center-side-width: calc(100% - ($left-side-width + $right-side-width));

$duration: 0.15s;
