@import './variables';
@import './libs/normalize';

@import './components/all';

body {
  background-color: $background;
}

.container {
  width: $container-width;
	max-width: 100%;
  margin: 0 auto;
}
.row {
  display: flex;
	flex-wrap: wrap;
}
.space-between{
	justify-content: space-between;
}
.left-side {
		width: $left-side-width;
}
.right-side {
		width: $right-side-width;
}
.wrapper {
  height: 100%;
}
.content {
	width: $center-side-width;
}